.contato {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.contato h2 {
  font-size: 22pt;
}

.contato p {
  font-size: 12pt;
  display: flex;
  gap: 0.2cm;
  align-items: center;
}

.contato svg {
  font-size: 12pt;
}
