@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

:root {
  font-size: 16px;
  --tema: #fde74c;
  accent-color: var(--tema);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  max-width: 100%;
}

::selection {
  color: var(--tema);
  background-color: #000;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background-color: #fefefe;
}

main {
  width: min(100%, 1280px);
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

input,
button {
  font-size: 1rem;
}

button {
  padding: 6px 12px;
  background: var(--tema);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.3s background;
  display: flex;
  gap: 4px;
  align-items: center;
}

button:hover {
  color: var(--tema);
  background: #000;
}

.dados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.curriculo {
  display: none;
}

.botoes {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
